Zeno website n8n.doc
{
  "name": "Zeno website - Async Polling Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compile-figma",
        "responseCode": 202,
        "options": {}
      },
      "id": "c5dbb02f-cf06-4a6a-8da8-da877acd345c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -8640,
        2224
      ],
      "webhookId": "a3558b29-aac4-4433-8682-4320a0bde63c"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Safely extract regardless of payload structure\nconst figmaUrl = body.figmaUrl || body.url;\nconst format = body.format || body.outputFormat || 'react';\nconst figmaToken = body.figmaToken;\nconst jobId = body.jobId;\n\nif (!figmaUrl) {\n    throw new Error(\"Missing Figma URL in request payload.\");\n}\nif (!figmaToken) {\n    throw new Error(\"Missing Figma Token in request payload. Check your Node backend forwarding.\");\n}\nif (!jobId) {\n    throw new Error(\"Missing jobId in request payload. Your backend must send a jobId.\");\n}\n\n// --- Parse the URL ---\nconst fileIdMatch = figmaUrl.match(/\\/(?:file|design)\\/([a-zA-Z0-9]+)/);\nconst fileId = fileIdMatch ? fileIdMatch[1] : null;\n\nconst nodeIdMatch = figmaUrl.match(/node-id=([a-zA-Z0-9\\-%]+)/);\nlet nodeId = nodeIdMatch ? nodeIdMatch[1] : null;\n\nif (nodeId) {\n    nodeId = decodeURIComponent(nodeId).replace(/-/g, ':');\n}\n\nif (!fileId || !nodeId) {\n    throw new Error(\"Could not extract File ID or Node ID from URL.\");\n}\n\nreturn [{ json: { figmaUrl, fileId, nodeId, format, figmaToken, jobId } }];"
      },
      "id": "109a22a0-6001-4c13-9e78-ce169f85550d",
      "name": "Input & Parse Figma URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8448,
        2224
      ]
    },
    {
      "parameters": {
        "url": "={{'https://api.figma.com/v1/files/' + $json.fileId + '/nodes?ids=' + $json.nodeId}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Figma-Token",
              "value": "={{ $('Input & Parse Figma URL').first().json.figmaToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "25c4b0c3-993a-4617-9f22-115ba6958573",
      "name": "Figma API Request (Layout)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -8224,
        2224
      ]
    },
    {
      "parameters": {
        "jsCode": "const nodeId = $('Input & Parse Figma URL').first().json.nodeId;\nconst figmaData = $('Figma API Request (Layout)').first().json.nodes[nodeId].document;\nlet targetIds = [];\n\nfunction extractIds(node) {\n  if (!node || node.visible === false) return;\n\n  const isImage = node.fills && node.fills.some(f => f.type === 'IMAGE' && f.visible !== false);\n  if (isImage) {\n      targetIds.push(node.id);\n      return;\n  }\n\n  function hasTextDeep(n) {\n      if (!n || n.visible === false) return false;\n      if (n.type === 'TEXT') return true;\n      if (n.children) return n.children.some(hasTextDeep);\n      return false;\n  }\n  function hasVectorDeep(n) {\n      if (!n || n.visible === false) return false;\n      if (['VECTOR', 'BOOLEAN_OPERATION', 'STAR', 'POLYGON', 'ELLIPSE'].includes(n.type)) return true;\n      if (n.children) return n.children.some(hasVectorDeep);\n      return false;\n  }\n\n  const isContainer = ['FRAME', 'GROUP', 'INSTANCE', 'COMPONENT'].includes(node.type);\n  if (isContainer) {\n      if (hasVectorDeep(node) && !hasTextDeep(node)) {\n          targetIds.push(node.id);\n          return;\n      }\n  }\n\n  const isVector = ['VECTOR', 'BOOLEAN_OPERATION', 'STAR', 'POLYGON', 'ELLIPSE'].includes(node.type);\n  if (isVector) {\n      targetIds.push(node.id);\n      return;\n  }\n\n  if (node.children) node.children.forEach(extractIds);\n}\n\nextractIds(figmaData);\ntargetIds = [...new Set(targetIds)];\nreturn [{ json: { idsToFetch: targetIds.join(',') } }];"
      },
      "id": "9e20e43f-965f-4deb-9387-03be965dc9cc",
      "name": "ID Extractor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8016,
        2224
      ]
    },
    {
      "parameters": {
        "url": "={{'https://api.figma.com/v1/images/' + $('Input & Parse Figma URL').first().json.fileId + '?ids=' + $json.idsToFetch + '&format=svg'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Figma-Token",
              "value": "={{ $('Input & Parse Figma URL').first().json.figmaToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0554a6b6-6da8-4b15-996b-d991495d1d59",
      "name": "Figma Image Fetcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -7824,
        2224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Input & Parse Figma URL').first().json.format }}",
              "value2": "react"
            }
          ]
        }
      },
      "id": "7572e6ce-7f39-40b8-8f6b-ce0affc6b250",
      "name": "Format Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -7616,
        2224
      ]
    },
    {
      "parameters": {
        "jsCode": "const figmaNodeId = $('Input & Parse Figma URL').first().json.nodeId;\nconst figmaData = $('Figma API Request (Layout)').first().json.nodes[figmaNodeId].document;\nconst hostedImages = $input.first().json.images || {};\n\nconst rootX = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.x : 0;\nconst rootY = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.y : 0;\nconst rootWidth = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.width : 1440;\nconst rootHeight = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.height : 3000;\n\nfunction toCqw(val) { return +(val / rootWidth * 100).toFixed(4) + 'cqw'; }\n\nlet fontFamilies = new Set();\n\nfunction escapeJSX(str) {\n    let clean = str.replace(/{/g, '{\"{_}\"}').replace(/}/g, '{\"}\"}').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/{_}/g, '{');\n    clean = clean.replace(/(\\r\\n|\\n|\\r|\\\\n|\\/n)/g, '<br />');\n    return clean;\n}\n\nfunction cssToReactStyle(cssString) {\n    const styleObj = {};\n    cssString.split(';').forEach(rule => {\n        const parts = rule.split(':');\n        const key = parts.shift();\n        if (key && parts.length > 0) {\n            let camelKey = key.trim().replace(/-([a-z])/g, g => g[1].toUpperCase());\n            if (camelKey.startsWith('webkit')) camelKey = 'W' + camelKey.slice(1);\n            styleObj[camelKey] = parts.join(':').trim();\n        }\n    });\n    return styleObj;\n}\n\nfunction getRotationAngle(node) {\n    if (!node.relativeTransform) return 0;\n    const m00 = node.relativeTransform[0][0];\n    const m10 = node.relativeTransform[1][0];\n    return Math.atan2(m10, m00) * (180 / Math.PI);\n}\n\nfunction buildSpanJSX(textChunk, overrideId, node) {\n    if (!textChunk) return '';\n    let escapedText = escapeJSX(textChunk);\n    \n    if (overrideId === 0 || !node.styleOverrideTable || !node.styleOverrideTable[overrideId]) {\n        return escapedText;\n    }\n\n    const overrideStyle = node.styleOverrideTable[overrideId];\n    let spanStyle = '';\n\n    let fw = overrideStyle.fontWeight;\n    if (fw === undefined && overrideStyle.fontPostScriptName) {\n        const ps = overrideStyle.fontPostScriptName.toLowerCase();\n        if (ps.includes('bold')) fw = 700;\n        else if (ps.includes('semibold')) fw = 600;\n        else if (ps.includes('medium')) fw = 500;\n        else if (ps.includes('light')) fw = 300;\n        else if (ps.includes('black') || ps.includes('heavy')) fw = 900;\n    }\n    if (fw !== undefined) spanStyle += `font-weight: ${fw}; `;\n\n    if (overrideStyle.fontSize !== undefined) spanStyle += `font-size: ${toCqw(overrideStyle.fontSize)}; `;\n    if (overrideStyle.fontFamily) {\n        fontFamilies.add(overrideStyle.fontFamily);\n        spanStyle += `font-family: '${overrideStyle.fontFamily}', -apple-system, sans-serif; `;\n    }\n    if (overrideStyle.italic) spanStyle += `font-style: italic; `;\n    if (overrideStyle.textDecoration === 'UNDERLINE') spanStyle += `text-decoration: underline; `;\n    if (overrideStyle.textDecoration === 'STRIKETHROUGH') spanStyle += `text-decoration: line-through; `;\n    \n    if (overrideStyle.fills && overrideStyle.fills.length > 0) {\n        const solidFill = overrideStyle.fills.find(f => f.type === 'SOLID' && f.visible !== false);\n        if (solidFill) {\n            const c = solidFill.color; \n            const a = solidFill.opacity !== undefined ? solidFill.opacity : (c.a !== undefined ? c.a : 1);\n            spanStyle += `color: rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}); `;\n        }\n    }\n\n    if (spanStyle) {\n        return `<span style={${JSON.stringify(cssToReactStyle(spanStyle))}}>${escapedText}</span>`;\n    }\n    return escapedText;\n}\n\nfunction buildNode(node, parentAbsX, parentAbsY, pW, pH, inheritedOpacity = 1) {\n    if (!node || node.visible === false || !node.absoluteBoundingBox) return '';\n\n    const isHostedImage = hostedImages[node.id] !== undefined;\n    const currentOpacity = (node.opacity !== undefined ? node.opacity : 1) * inheritedOpacity;\n    const rotationAngle = getRotationAngle(node);\n\n    let w = node.size ? node.size.x : node.absoluteBoundingBox.width;\n    let h = node.size ? node.size.y : node.absoluteBoundingBox.height;\n\n    const isLine = node.type === 'LINE';\n    if (isLine) {\n        const weight = node.strokeWeight || 1;\n        if (h < weight) h = weight;\n        if (w < weight) w = weight;\n    }\n\n    const aabbX = node.absoluteBoundingBox.x - parentAbsX;\n    const aabbY = node.absoluteBoundingBox.y - parentAbsY;\n\n    let style = `position: absolute; box-sizing: border-box; `;\n\n    style += `left: ${toCqw(aabbX)}; top: ${toCqw(aabbY)}; width: ${toCqw(w)}; height: ${toCqw(h)}; `;\n    \n    // FIX: Guarantee that lines < 3px are never hidden by browser subpixel dropping\n    if (h <= 3) style += `min-height: 1px; `;\n    if (w <= 3) style += `min-width: 1px; `;\n\n    if (Math.abs(rotationAngle) > 0.01) style += `transform: rotate(${rotationAngle}deg); `;\n\n    if (currentOpacity < 1) style += `opacity: ${currentOpacity}; `;\n    if (node.blendMode && !['PASS_THROUGH', 'NORMAL'].includes(node.blendMode)) style += `mix-blend-mode: ${node.blendMode.toLowerCase().replace('_', '-')}; `;\n    if (node.clipsContent) style += `overflow: hidden; `;\n\n    let imgHTML = ''; let textHTML = ''; let innerHTML = '';\n    const isText = node.type === 'TEXT';\n\n    if (!isText && !isHostedImage) {\n        const hasRadius = (node.rectangleCornerRadii && node.rectangleCornerRadii.some(r => r > 0)) || (node.cornerRadius && node.cornerRadius > 0);\n        if (hasRadius && (['RECTANGLE', 'ELLIPSE', 'POLYGON', 'STAR'].includes(node.type) || node.clipsContent)) {\n            if (node.rectangleCornerRadii && node.rectangleCornerRadii.length === 4) {\n                style += `border-radius: ${toCqw(node.rectangleCornerRadii[0])} ${toCqw(node.rectangleCornerRadii[1])} ${toCqw(node.rectangleCornerRadii[2])} ${toCqw(node.rectangleCornerRadii[3])}; `;\n            } else if (node.cornerRadius) {\n                style += `border-radius: ${toCqw(node.cornerRadius)}; `;\n            }\n        }\n    }\n\n    if (isHostedImage) {\n        imgHTML = `<img src=\"${hostedImages[node.id]}\" style={${JSON.stringify(cssToReactStyle(\"position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: center; border-radius: inherit; pointer-events: none; display: block;\"))}} />`;\n    } else if (isLine) {\n        const stroke = node.strokes && node.strokes.find(s => s.type === 'SOLID' && s.visible !== false);\n        if (stroke) {\n            const c = stroke.color; const a = stroke.opacity !== undefined ? stroke.opacity : (c.a !== undefined ? c.a : 1);\n            const colorStr = `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a})`;\n            const isDashed = node.strokeDashes && node.strokeDashes.length > 0;\n            if (isDashed) {\n                const dash = node.strokeDashes[0] || 6;\n                const gap = node.strokeDashes.length > 1 ? node.strokeDashes[1] : dash;\n                if (h > w) {\n                    style += `background-image: repeating-linear-gradient(to bottom, ${colorStr} 0, ${colorStr} ${toCqw(dash)}, transparent ${toCqw(dash)}, transparent ${toCqw(dash + gap)}); background-color: transparent; border: none; `;\n                } else {\n                    style += `background-image: repeating-linear-gradient(to right, ${colorStr} 0, ${colorStr} ${toCqw(dash)}, transparent ${toCqw(dash)}, transparent ${toCqw(dash + gap)}); background-color: transparent; border: none; `;\n                }\n            } else {\n                style += `background-color: ${colorStr}; border: none; `;\n            }\n        }\n    } else {\n        if (node.fills && !isText) {\n            let bgStyle = '';\n            node.fills.forEach(fill => {\n                if (fill.visible === false) return;\n                const fillOpacity = fill.opacity !== undefined ? fill.opacity : 1;\n                \n                if (fill.type === 'SOLID') {\n                    const c = fill.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                    if (a > 0) bgStyle = `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a})`;\n                } \n                else if (fill.type === 'GRADIENT_LINEAR') {\n                    const stops = fill.gradientStops.map(s => {\n                        const c = s.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                        return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                    }).join(', ');\n                    \n                    let angle = 90; \n                    if (fill.gradientHandlePositions && fill.gradientHandlePositions.length >= 2) {\n                        const p1 = fill.gradientHandlePositions[0];\n                        const p2 = fill.gradientHandlePositions[1];\n                        const dx = p2.x - p1.x;\n                        const dy = p2.y - p1.y;\n                        angle = (Math.atan2(dy, dx) * 180 / Math.PI) + 90;\n                    }\n                    bgStyle = `linear-gradient(${angle}deg, ${stops})`;\n                } else if (fill.type === 'GRADIENT_RADIAL') {\n                    const stops = fill.gradientStops.map(s => {\n                        const c = s.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                        return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                    }).join(', ');\n                    bgStyle = `radial-gradient(circle, ${stops})`;\n                }\n            });\n            if (bgStyle) { style += `background: ${bgStyle}; `; }\n        }\n        \n        if (node.strokes && !isText) {\n            const stroke = node.strokes.find(s => s.type === 'SOLID' && s.visible !== false);\n            if (stroke) {\n                const c = stroke.color; const a = stroke.opacity !== undefined ? stroke.opacity : (c.a !== undefined ? c.a : 1);\n                const colorStr = `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a})`;\n                const isDashed = node.strokeDashes && node.strokeDashes.length > 0;\n                const borderStyle = isDashed ? 'dashed' : 'solid';\n                \n                // FIX: Added CSS max(1px, ...) to ensure borders never drop to 0px and vanish\n                if (node.individualStrokeWeights) {\n                    if (node.individualStrokeWeights.top > 0) style += `border-top: max(1px, ${toCqw(node.individualStrokeWeights.top)}) ${borderStyle} ${colorStr}; `;\n                    if (node.individualStrokeWeights.right > 0) style += `border-right: max(1px, ${toCqw(node.individualStrokeWeights.right)}) ${borderStyle} ${colorStr}; `;\n                    if (node.individualStrokeWeights.bottom > 0) style += `border-bottom: max(1px, ${toCqw(node.individualStrokeWeights.bottom)}) ${borderStyle} ${colorStr}; `;\n                    if (node.individualStrokeWeights.left > 0) style += `border-left: max(1px, ${toCqw(node.individualStrokeWeights.left)}) ${borderStyle} ${colorStr}; `;\n                } else {\n                    const sw = node.strokeWeight || 1; style += `border: max(1px, ${toCqw(sw)}) ${borderStyle} ${colorStr}; `;\n                }\n            }\n        }\n\n        if (node.effects && !isText) {\n            let shadows = [];\n            for (const effect of node.effects) {\n                if (effect.visible !== false && effect.type === 'DROP_SHADOW') {\n                    const c = effect.color;\n                    const spread = effect.spread ? toCqw(effect.spread) : '0cqw';\n                    shadows.push(`${toCqw(effect.offset.x)} ${toCqw(effect.offset.y)} ${toCqw(effect.radius)} ${spread} rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${c.a})`);\n                }\n                if (effect.visible !== false && effect.type === 'BACKGROUND_BLUR') {\n                    style += `backdrop-filter: blur(${toCqw(effect.radius)}); -webkit-backdrop-filter: blur(${toCqw(effect.radius)}); `;\n                }\n                if (effect.visible !== false && effect.type === 'LAYER_BLUR') {\n                    style += `filter: blur(${toCqw(effect.radius)}); -webkit-filter: blur(${toCqw(effect.radius)}); `;\n                }\n            }\n            if (shadows.length > 0) style += `box-shadow: ${shadows.join(', ')}; `;\n        }\n    }\n\n    if (isText) {\n        style += 'margin: 0; display: flex; flex-direction: column; overflow: visible; z-index: 10; ';\n        \n        if (node.characters) {\n            if (node.characterStyleOverrides && node.characterStyleOverrides.length > 0 && node.styleOverrideTable) {\n                let currentOverride = node.characterStyleOverrides[0];\n                let currentSpanText = '';\n                textHTML = '';\n\n                for (let i = 0; i < node.characters.length; i++) {\n                    const char = node.characters[i];\n                    const overrideId = node.characterStyleOverrides[i] !== undefined ? node.characterStyleOverrides[i] : 0;\n\n                    if (overrideId !== currentOverride) {\n                        textHTML += buildSpanJSX(currentSpanText, currentOverride, node);\n                        currentSpanText = char;\n                        currentOverride = overrideId;\n                    } else {\n                        currentSpanText += char;\n                    }\n                }\n                if (currentSpanText.length > 0) {\n                    textHTML += buildSpanJSX(currentSpanText, currentOverride, node);\n                }\n            } else {\n                textHTML = escapeJSX(node.characters);\n            }\n        }\n\n        if (node.style && node.style.textAutoResize === 'WIDTH_AND_HEIGHT') {\n            style += 'white-space: nowrap; ';\n        } else {\n            style += 'white-space: pre-wrap; overflow-wrap: break-word; word-break: break-word; ';\n        }\n\n        if (node.style) {\n            style += `font-size: ${toCqw(node.style.fontSize)}; font-weight: ${node.style.fontWeight}; `;\n            if (node.style.fontFamily) {\n                fontFamilies.add(node.style.fontFamily);\n                style += `font-family: '${node.style.fontFamily}', -apple-system, sans-serif; `;\n            }\n            if (node.style.textCase === 'UPPER') style += `text-transform: uppercase; `;\n            else if (node.style.textCase === 'LOWER') style += `text-transform: lowercase; `;\n            else if (node.style.textCase === 'TITLE') style += `text-transform: capitalize; `;\n            \n            if (node.style.italic) style += `font-style: italic; `;\n            \n            if (node.style.lineHeightPx) style += `line-height: ${toCqw(node.style.lineHeightPx)}; `;\n            else style += `line-height: normal; `;\n            \n            if (node.style.letterSpacing !== undefined) style += `letter-spacing: ${toCqw(node.style.letterSpacing)}; `;\n\n            if (node.style.textAlignHorizontal === 'CENTER') style += `text-align: center; align-items: center; `;\n            else if (node.style.textAlignHorizontal === 'RIGHT') style += `text-align: right; align-items: flex-end; `;\n            else style += `text-align: left; align-items: flex-start; `;\n\n            if (node.style.textAlignVertical === 'CENTER') style += `justify-content: center; `;\n            else if (node.style.textAlignVertical === 'BOTTOM') style += `justify-content: flex-end; `;\n            else style += `justify-content: flex-start; `;\n        }\n\n        let fontColorHTML = `color: #000000; `;\n        if (node.fills && node.fills.length > 0) {\n            const solidFill = node.fills.find(f => f.type === 'SOLID' && f.visible !== false);\n            const gradFill = node.fills.find(f => f.type === 'GRADIENT_LINEAR' && f.visible !== false);\n            if (solidFill) {\n                const c = solidFill.color; const a = solidFill.opacity !== undefined ? solidFill.opacity : (c.a !== undefined ? c.a : 1);\n                fontColorHTML = `color: rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}); `;\n            } else if (gradFill) {\n                const stops = gradFill.gradientStops.map(s => {\n                    const c = s.color; const a = c.a !== undefined ? c.a : 1;\n                    return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                }).join(', ');\n                fontColorHTML = `background: linear-gradient(90deg, ${stops}); -webkit-background-clip: text; -webkit-text-fill-color: transparent; `;\n            }\n        }\n        style += fontColorHTML;\n\n        textHTML = `<div style={${JSON.stringify(cssToReactStyle(\"display: block; width: 100%; margin: 0; padding: 0;\"))}}>${textHTML}</div>`;\n    }\n\n    if (!isHostedImage && node.children) {\n        node.children.forEach(child => {\n            innerHTML += buildNode(child, node.absoluteBoundingBox.x, node.absoluteBoundingBox.y, w, h, currentOpacity);\n        });\n    }\n\n    return `<div style={${JSON.stringify(cssToReactStyle(style))}}>${imgHTML}${textHTML}${innerHTML}</div>`;\n}\n\nlet rootBg = '#ffffff';\nif (figmaData.fills && figmaData.fills.length > 0) {\n    const bgFill = figmaData.fills.find(f => f.type === 'SOLID' && f.visible !== false);\n    if (bgFill) {\n        const a = bgFill.opacity !== undefined ? bgFill.opacity : (bgFill.color.a !== undefined ? bgFill.color.a : 1);\n        rootBg = `rgba(${Math.round(bgFill.color.r*255)}, ${Math.round(bgFill.color.g*255)}, ${Math.round(bgFill.color.b*255)}, ${a})`;\n    }\n}\n\nlet elementsHTML = '';\nif (figmaData.children) {\n    figmaData.children.forEach(child => {\n        elementsHTML += buildNode(child, rootX, rootY, rootWidth, rootHeight, 1);\n    });\n}\n\nlet fontsHTML = '';\nfontFamilies.forEach(f => {\n    const familyName = f.replace(/\\s+/g, '+');\n    fontsHTML += `<link href=\"https://fonts.googleapis.com/css2?family=${familyName}:wght@300;400;500;600;700;800;900&display=swap\" rel=\"stylesheet\" />\\n        `;\n});\n\nconst rootContainerStyle = `position: relative; width: 100%; min-height: 100vh; height: ${(rootHeight/rootWidth)*100}vw; background-color: ${rootBg}; margin: 0; overflow-x: hidden; overflow-y: hidden; -webkit-font-smoothing: antialiased; container-type: inline-size;`;\n\nconst finalCode = `import React from 'react';\n\nexport default function FigmaDesign() {\n  return (\n    <>\n        ${fontsHTML}\n        <style dangerouslySetInnerHTML={{ __html: \\`body, html { margin: 0; padding: 0; width: 100%; height: 100%; overflow-x: hidden; }\\` }} />\n        <div style={${JSON.stringify(cssToReactStyle(rootContainerStyle))}}>\n            ${elementsHTML}\n        </div>\n    </>\n  );\n}`;\n\nreturn [{ json: { status: \"success\", rawCode: finalCode } }];"
      },
      "id": "8b067216-bde0-4f04-bb9c-e68500becca9",
      "name": "React JSX Compiler Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7360,
        2080
      ]
    },
    {
      "parameters": {
        "jsCode": "const figmaNodeId = $('Input & Parse Figma URL').first().json.nodeId;\nconst figmaData = $('Figma API Request (Layout)').first().json.nodes[figmaNodeId].document;\nconst hostedImages = $input.first().json.images || {};\n\nconst rootX = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.x : 0;\nconst rootY = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.y : 0;\nconst rootWidth = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.width : 1440;\nconst rootHeight = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.height : 3000;\n\nfunction toCqw(val) { return +(val / rootWidth * 100).toFixed(4) + 'cqw'; }\nfunction toPer(val, total) { return total === 0 ? '0%' : +(val / total * 100).toFixed(4) + '%'; }\n\nlet fontFamilies = new Set();\n\nfunction escapeHTML(str) {\n    return str.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;');\n}\n\nfunction getRotationAngle(node) {\n    if (!node.relativeTransform) return 0;\n    const m00 = node.relativeTransform[0][0];\n    const m10 = node.relativeTransform[1][0];\n    return Math.atan2(m10, m00) * (180 / Math.PI);\n}\n\nfunction buildSpanHTML(textChunk, overrideId, node) {\n    if (!textChunk) return '';\n    let escapedText = escapeHTML(textChunk);\n    \n    if (overrideId === 0 || !node.styleOverrideTable || !node.styleOverrideTable[overrideId]) {\n        return escapedText;\n    }\n\n    const overrideStyle = node.styleOverrideTable[overrideId];\n    let spanStyle = '';\n\n    let fw = overrideStyle.fontWeight;\n    if (fw === undefined && overrideStyle.fontPostScriptName) {\n        const ps = overrideStyle.fontPostScriptName.toLowerCase();\n        if (ps.includes('bold')) fw = 700;\n        else if (ps.includes('semibold')) fw = 600;\n        else if (ps.includes('medium')) fw = 500;\n        else if (ps.includes('light')) fw = 300;\n        else if (ps.includes('black') || ps.includes('heavy')) fw = 900;\n    }\n    if (fw !== undefined) spanStyle += `font-weight: ${fw}; `;\n\n    if (overrideStyle.fontSize !== undefined) spanStyle += `font-size: ${toCqw(overrideStyle.fontSize)}; `;\n    if (overrideStyle.fontFamily) {\n        fontFamilies.add(overrideStyle.fontFamily);\n        spanStyle += `font-family: '${overrideStyle.fontFamily}', -apple-system, sans-serif; `;\n    }\n    if (overrideStyle.italic) spanStyle += `font-style: italic; `;\n    if (overrideStyle.textDecoration === 'UNDERLINE') spanStyle += `text-decoration: underline; `;\n    if (overrideStyle.textDecoration === 'STRIKETHROUGH') spanStyle += `text-decoration: line-through; `;\n    \n    if (overrideStyle.fills && overrideStyle.fills.length > 0) {\n        const solidFill = overrideStyle.fills.find(f => f.type === 'SOLID' && f.visible !== false);\n        if (solidFill) {\n            const c = solidFill.color; \n            const a = solidFill.opacity !== undefined ? solidFill.opacity : (c.a !== undefined ? c.a : 1);\n            spanStyle += `color: rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}); `;\n        }\n    }\n\n    if (spanStyle) {\n        return `<span style=\"${spanStyle}\">${escapedText}</span>`;\n    }\n    return escapedText;\n}\n\nfunction buildNode(node, parentAbsX, parentAbsY, pW, pH, inheritedOpacity = 1) {\n    if (!node || node.visible === false || !node.absoluteBoundingBox) return '';\n\n    const isHostedImage = hostedImages[node.id] !== undefined;\n    const currentOpacity = (node.opacity !== undefined ? node.opacity : 1) * inheritedOpacity;\n    const rotationAngle = getRotationAngle(node);\n\n    let w = node.size ? node.size.x : node.absoluteBoundingBox.width;\n    let h = node.size ? node.size.y : node.absoluteBoundingBox.height;\n\n    const isLine = node.type === 'LINE';\n    if (isLine) {\n        const weight = node.strokeWeight || 1;\n        if (h < weight) h = weight;\n        if (w < weight) w = weight;\n    }\n\n    const aabbX = node.absoluteBoundingBox.x - parentAbsX;\n    const aabbY = node.absoluteBoundingBox.y - parentAbsY;\n    const aabbW = node.absoluteBoundingBox.width;\n    const aabbH = node.absoluteBoundingBox.height;\n    \n    const centerX = aabbX + (aabbW / 2);\n    const centerY = aabbY + (aabbH / 2);\n    const x = centerX - (w / 2);\n    const y = centerY - (h / 2);\n\n    let style = `position: absolute; box-sizing: border-box; `;\n\n    const hc = node.constraints ? node.constraints.horizontal : 'SCALE';\n    const vc = node.constraints ? node.constraints.vertical : 'SCALE';\n    let tx = '0', ty = '0';\n\n    if (hc === 'MIN' || hc === 'LEFT') { style += `left: ${toPer(x, pW)}; width: ${toPer(w, pW)}; `; }\n    else if (hc === 'MAX' || hc === 'RIGHT') { style += `right: ${toPer(pW - (x + w), pW)}; width: ${toPer(w, pW)}; `; }\n    else if (hc === 'CENTER') { style += `left: calc(50% + ${toPer(x + w/2 - pW/2, pW)}); width: ${toPer(w, pW)}; `; tx = '-50%'; }\n    else if (hc === 'STRETCH' || hc === 'LEFT_RIGHT') { style += `left: ${toPer(x, pW)}; right: ${toPer(pW - (x + w), pW)}; `; }\n    else { style += `left: ${toPer(x, pW)}; width: ${toPer(w, pW)}; `; }\n\n    if (vc === 'MIN' || vc === 'TOP') { style += `top: ${toPer(y, pH)}; height: ${toPer(h, pH)}; `; }\n    else if (vc === 'MAX' || vc === 'BOTTOM') { style += `bottom: ${toPer(pH - (y + h), pH)}; height: ${toPer(h, pH)}; `; }\n    else if (vc === 'CENTER') { style += `top: calc(50% + ${toPer(y + h/2 - pH/2, pH)}); height: ${toPer(h, pH)}; `; ty = '-50%'; }\n    else if (vc === 'STRETCH' || vc === 'TOP_BOTTOM') { style += `top: ${toPer(y, pH)}; bottom: ${toPer(pH - (y + h), pH)}; `; }\n    else { style += `top: ${toPer(y, pH)}; height: ${toPer(h, pH)}; `; }\n\n    // FIX: Guarantee that lines < 3px are never hidden by browser subpixel dropping\n    if (h <= 3) style += `min-height: 1px; `;\n    if (w <= 3) style += `min-width: 1px; `;\n\n    let transformStr = '';\n    if (tx !== '0' || ty !== '0') transformStr += `translate(${tx}, ${ty}) `;\n    if (Math.abs(rotationAngle) > 0.01) transformStr += `rotate(${rotationAngle}deg) `;\n    if (transformStr) style += `transform: ${transformStr.trim()}; `;\n\n    if (currentOpacity < 1) style += `opacity: ${currentOpacity}; `;\n    if (node.blendMode && !['PASS_THROUGH', 'NORMAL'].includes(node.blendMode)) style += `mix-blend-mode: ${node.blendMode.toLowerCase().replace('_', '-')}; `;\n    if (node.clipsContent) style += `overflow: hidden; `;\n\n    let imgHTML = ''; let textHTML = ''; let innerHTML = '';\n    const isText = node.type === 'TEXT';\n\n    if (!isText && !isHostedImage) {\n        if (node.rectangleCornerRadii && node.rectangleCornerRadii.length === 4) {\n            style += `border-radius: ${toCqw(node.rectangleCornerRadii[0])} ${toCqw(node.rectangleCornerRadii[1])} ${toCqw(node.rectangleCornerRadii[2])} ${toCqw(node.rectangleCornerRadii[3])}; `;\n        } else if (node.cornerRadius) {\n            style += `border-radius: ${toCqw(node.cornerRadius)}; `;\n        }\n    }\n\n    if (isHostedImage) {\n        imgHTML = `<img src=\"${hostedImages[node.id]}\" style=\"position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: center; border-radius: inherit; pointer-events: none; display: block;\" />`;\n    } else if (isLine) {\n        const stroke = node.strokes && node.strokes.find(s => s.type === 'SOLID' && s.visible !== false);\n        if (stroke) {\n            const c = stroke.color; const a = stroke.opacity !== undefined ? stroke.opacity : (c.a !== undefined ? c.a : 1);\n            const colorStr = `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a})`;\n            const isDashed = node.strokeDashes && node.strokeDashes.length > 0;\n            if (isDashed) {\n                const dash = node.strokeDashes[0] || 6;\n                const gap = node.strokeDashes.length > 1 ? node.strokeDashes[1] : dash;\n                if (h > w) {\n                    style += `background-image: repeating-linear-gradient(to bottom, ${colorStr} 0, ${colorStr} ${toCqw(dash)}, transparent ${toCqw(dash)}, transparent ${toCqw(dash + gap)}); background-color: transparent; border: none; `;\n                } else {\n                    style += `background-image: repeating-linear-gradient(to right, ${colorStr} 0, ${colorStr} ${toCqw(dash)}, transparent ${toCqw(dash)}, transparent ${toCqw(dash + gap)}); background-color: transparent; border: none; `;\n                }\n            } else {\n                style += `background-color: ${colorStr}; border: none; `;\n            }\n        }\n    } else {\n        if (node.fills && !isText) {\n            let bgStyle = '';\n            node.fills.forEach(fill => {\n                if (fill.visible === false) return;\n                const fillOpacity = fill.opacity !== undefined ? fill.opacity : 1;\n                \n                if (fill.type === 'SOLID') {\n                    const c = fill.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                    if (a > 0) bgStyle = `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a})`;\n                } \n                else if (fill.type === 'GRADIENT_LINEAR') {\n                    const stops = fill.gradientStops.map(s => {\n                        const c = s.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                        return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                    }).join(', ');\n                    \n                    let angle = 90; \n                    if (fill.gradientHandlePositions && fill.gradientHandlePositions.length >= 2) {\n                        const p1 = fill.gradientHandlePositions[0];\n                        const p2 = fill.gradientHandlePositions[1];\n                        const dx = p2.x - p1.x;\n                        const dy = p2.y - p1.y;\n                        angle = (Math.atan2(dy, dx) * 180 / Math.PI) + 90;\n                    }\n                    bgStyle = `linear-gradient(${angle}deg, ${stops})`;\n                } else if (fill.type === 'GRADIENT_RADIAL') {\n                    const stops = fill.gradientStops.map(s => {\n                        const c = s.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                        return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                    }).join(', ');\n                    bgStyle = `radial-gradient(circle, ${stops})`;\n                }\n            });\n            if (bgStyle) { style += `background: ${bgStyle}; `; }\n        }\n        \n        if (node.strokes && !isText) {\n            const stroke = node.strokes.find(s => s.type === 'SOLID' && s.visible !== false);\n            if (stroke) {\n                const c = stroke.color; const a = stroke.opacity !== undefined ? stroke.opacity : (c.a !== undefined ? c.a : 1);\n                const colorStr = `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a})`;\n                const isDashed = node.strokeDashes && node.strokeDashes.length > 0;\n                const borderStyle = isDashed ? 'dashed' : 'solid';\n                \n                // FIX: Added CSS max(1px, ...) to ensure borders never drop to 0px and vanish\n                if (node.individualStrokeWeights) {\n                    if (node.individualStrokeWeights.top > 0) style += `border-top: max(1px, ${toCqw(node.individualStrokeWeights.top)}) ${borderStyle} ${colorStr}; `;\n                    if (node.individualStrokeWeights.right > 0) style += `border-right: max(1px, ${toCqw(node.individualStrokeWeights.right)}) ${borderStyle} ${colorStr}; `;\n                    if (node.individualStrokeWeights.bottom > 0) style += `border-bottom: max(1px, ${toCqw(node.individualStrokeWeights.bottom)}) ${borderStyle} ${colorStr}; `;\n                    if (node.individualStrokeWeights.left > 0) style += `border-left: max(1px, ${toCqw(node.individualStrokeWeights.left)}) ${borderStyle} ${colorStr}; `;\n                } else {\n                    const sw = node.strokeWeight || 1; style += `border: max(1px, ${toCqw(sw)}) ${borderStyle} ${colorStr}; `;\n                }\n            }\n        }\n\n        if (node.effects && !isText) {\n            let shadows = [];\n            for (const effect of node.effects) {\n                if (effect.visible !== false && effect.type === 'DROP_SHADOW') {\n                    const c = effect.color;\n                    const spread = effect.spread ? toCqw(effect.spread) : '0cqw';\n                    shadows.push(`${toCqw(effect.offset.x)} ${toCqw(effect.offset.y)} ${toCqw(effect.radius)} ${spread} rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${c.a})`);\n                }\n                if (effect.visible !== false && effect.type === 'BACKGROUND_BLUR') {\n                    style += `backdrop-filter: blur(${toCqw(effect.radius)}); -webkit-backdrop-filter: blur(${toCqw(effect.radius)}); `;\n                }\n                if (effect.visible !== false && effect.type === 'LAYER_BLUR') {\n                    style += `filter: blur(${toCqw(effect.radius)}); -webkit-filter: blur(${toCqw(effect.radius)}); `;\n                }\n            }\n            if (shadows.length > 0) style += `box-shadow: ${shadows.join(', ')}; `;\n        }\n    }\n\n    if (isText) {\n        style += 'margin: 0; display: flex; flex-direction: column; overflow: visible; z-index: 10; ';\n        \n        if (node.characters) {\n            if (node.characterStyleOverrides && node.characterStyleOverrides.length > 0 && node.styleOverrideTable) {\n                let currentOverride = node.characterStyleOverrides[0];\n                let currentSpanText = '';\n                textHTML = '';\n\n                for (let i = 0; i < node.characters.length; i++) {\n                    const char = node.characters[i];\n                    const overrideId = node.characterStyleOverrides[i] !== undefined ? node.characterStyleOverrides[i] : 0;\n\n                    if (overrideId !== currentOverride) {\n                        textHTML += buildSpanHTML(currentSpanText, currentOverride, node);\n                        currentSpanText = char;\n                        currentOverride = overrideId;\n                    } else {\n                        currentSpanText += char;\n                    }\n                }\n                if (currentSpanText.length > 0) {\n                    textHTML += buildSpanHTML(currentSpanText, currentOverride, node);\n                }\n            } else {\n                textHTML = escapeHTML(node.characters);\n            }\n        }\n\n        let lh = node.style && node.style.lineHeightPx ? node.style.lineHeightPx : (node.style && node.style.fontSize ? node.style.fontSize * 1.2 : 14);\n        const isSingleLine = node.absoluteBoundingBox.height <= lh * 1.5;\n        \n        // FIXED: Replaced break-word with proper wrapping to avoid mid-word splitting\n        if (isSingleLine && node.characters && node.characters.indexOf('\\n') === -1) { \n            style += 'white-space: nowrap; '; \n        } else { \n            style += 'white-space: pre-wrap; overflow-wrap: break-word; word-break: normal; '; \n        }\n\n        if (node.style) {\n            style += `font-size: ${toCqw(node.style.fontSize)}; font-weight: ${node.style.fontWeight}; `;\n            if (node.style.fontFamily) {\n                fontFamilies.add(node.style.fontFamily);\n                style += `font-family: '${node.style.fontFamily}', -apple-system, sans-serif; `;\n            }\n            if (node.style.textCase === 'UPPER') style += `text-transform: uppercase; `;\n            else if (node.style.textCase === 'LOWER') style += `text-transform: lowercase; `;\n            else if (node.style.textCase === 'TITLE') style += `text-transform: capitalize; `;\n            \n            if (node.style.italic) style += `font-style: italic; `;\n            if (node.style.lineHeightPx) style += `line-height: ${toCqw(node.style.lineHeightPx)}; `;\n            else style += `line-height: 1.2; `;\n            if (node.style.letterSpacing !== undefined) style += `letter-spacing: ${toCqw(node.style.letterSpacing)}; `;\n\n            if (node.style.textAlignHorizontal === 'CENTER') style += `text-align: center; align-items: center; `;\n            else if (node.style.textAlignHorizontal === 'RIGHT') style += `text-align: right; align-items: flex-end; `;\n            else style += `text-align: left; align-items: flex-start; `;\n\n            if (node.style.textAlignVertical === 'CENTER') style += `justify-content: center; `;\n            else if (node.style.textAlignVertical === 'BOTTOM') style += `justify-content: flex-end; `;\n            else style += `justify-content: flex-start; `;\n        }\n\n        let fontColorHTML = `color: #000000; `;\n        if (node.fills && node.fills.length > 0) {\n            const solidFill = node.fills.find(f => f.type === 'SOLID' && f.visible !== false);\n            const gradFill = node.fills.find(f => f.type === 'GRADIENT_LINEAR' && f.visible !== false);\n            if (solidFill) {\n                const c = solidFill.color; const a = solidFill.opacity !== undefined ? solidFill.opacity : (c.a !== undefined ? c.a : 1);\n                fontColorHTML = `color: rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}); `;\n            } else if (gradFill) {\n                const stops = gradFill.gradientStops.map(s => {\n                    const c = s.color; const a = c.a !== undefined ? c.a : 1;\n                    return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                }).join(', ');\n                fontColorHTML = `background: linear-gradient(90deg, ${stops}); -webkit-background-clip: text; -webkit-text-fill-color: transparent; `;\n            }\n        }\n        style += fontColorHTML;\n\n        // FIXED: Wrapped textHTML in a block container so the parent flex-box doesn't pull spans into separate rows\n        textHTML = `<div style=\"display: block; width: 100%; margin: 0; padding: 0;\">${textHTML}</div>`;\n    }\n\n    if (!isHostedImage && node.children) {\n        node.children.forEach(child => {\n            innerHTML += buildNode(child, node.absoluteBoundingBox.x, node.absoluteBoundingBox.y, w, h, currentOpacity);\n        });\n    }\n\n    return `<div style=\"${style}\">${imgHTML}${textHTML}${innerHTML}</div>`;\n}\n\nlet rootBg = '#ffffff';\nif (figmaData.fills && figmaData.fills.length > 0) {\n    const bgFill = figmaData.fills.find(f => f.type === 'SOLID' && f.visible !== false);\n    if (bgFill) {\n        const a = bgFill.opacity !== undefined ? bgFill.opacity : (bgFill.color.a !== undefined ? bgFill.color.a : 1);\n        rootBg = `rgba(${Math.round(bgFill.color.r*255)}, ${Math.round(bgFill.color.g*255)}, ${Math.round(bgFill.color.b*255)}, ${a})`;\n    }\n}\n\nlet elementsHTML = '';\nif (figmaData.children) {\n    figmaData.children.forEach(child => {\n        elementsHTML += buildNode(child, rootX, rootY, rootWidth, rootHeight, 1);\n    });\n}\n\nlet fontsHTML = '';\nfontFamilies.forEach(f => {\n    const familyName = f.replace(/\\s+/g, '+');\n    fontsHTML += `<link href=\"https://fonts.googleapis.com/css2?family=${familyName}:wght@300;400;500;600;700;800;900&display=swap\" rel=\"stylesheet\">`;\n});\n\nconst globalResetCSS = `<style>body, html { margin: 0; padding: 0; width: 100%; height: 100%; overflow-x: hidden; }</style>`;\n\nconst finalCode = `${fontsHTML}${globalResetCSS}<div style=\"position: relative; width: 100%; min-height: 100vh; height: ${(rootHeight/rootWidth)*100}vw; background-color: ${rootBg}; margin: 0; overflow-x: hidden; overflow-y: hidden; -webkit-font-smoothing: antialiased; container-type: inline-size;\">${elementsHTML}</div>`;\n\nreturn [{ json: { status: \"success\", rawCode: finalCode } }];"
      },
      "id": "cd72177a-bb38-487a-ae48-6ae730e30610",
      "name": "Deterministic Compiler Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7360,
        2368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/webhook/n8n-result",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $('Input & Parse Figma URL').first().json.jobId, status: 'completed', data: $json.rawCode }) }}",
        "options": {}
      },
      "id": "58d205df-e01e-4caa-8a95-e9d83b56770c",
      "name": "Send Result to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -7008,
        2224
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Input & Parse Figma URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input & Parse Figma URL": {
      "main": [
        [
          {
            "node": "Figma API Request (Layout)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Figma API Request (Layout)": {
      "main": [
        [
          {
            "node": "ID Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Extractor": {
      "main": [
        [
          {
            "node": "Figma Image Fetcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Figma Image Fetcher": {
      "main": [
        [
          {
            "node": "Format Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Router": {
      "main": [
        [
          {
            "node": "React JSX Compiler Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deterministic Compiler Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "React JSX Compiler Engine": {
      "main": [
        [
          {
            "node": "Send Result to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deterministic Compiler Engine": {
      "main": [
        [
          {
            "node": "Send Result to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "69ad0740-700a-486a-9715-1193450ff98f",
  "meta": {
    "instanceId": "4203052bfe8ff49e9e5b7c976d11508ac2b8a49c149cd2a3146dc2d22785c6b0"
  },
  "id": "YNTy0JsJjjHHmKBn",
  "tags": []
}