Zeno website n8n.doc
{
  "name": "Zeno website - Async Polling Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compile-figma",
        "responseCode": 202,
        "options": {}
      },
      "id": "ca8387f9-f14a-426b-a122-b8e1651c7c51",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -9936,
        1616
      ],
      "webhookId": "a3558b29-aac4-4433-8682-4320a0bde63c"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Safely extract regardless of payload structure\nconst figmaUrl = body.figmaUrl || body.url;\nconst format = body.format || body.outputFormat || 'react';\nconst figmaToken = body.figmaToken;\nconst jobId = body.jobId;\n\nif (!figmaUrl) {\n    throw new Error(\"Missing Figma URL in request payload.\");\n}\nif (!figmaToken) {\n    throw new Error(\"Missing Figma Token in request payload. Check your Node backend forwarding.\");\n}\nif (!jobId) {\n    throw new Error(\"Missing jobId in request payload. Your backend must send a jobId.\");\n}\n\n// --- Parse the URL ---\nconst fileIdMatch = figmaUrl.match(/\\/(?:file|design)\\/([a-zA-Z0-9]+)/);\nconst fileId = fileIdMatch ? fileIdMatch[1] : null;\n\nconst nodeIdMatch = figmaUrl.match(/node-id=([a-zA-Z0-9\\-%]+)/);\nlet nodeId = nodeIdMatch ? nodeIdMatch[1] : null;\n\nif (nodeId) {\n    nodeId = decodeURIComponent(nodeId).replace(/-/g, ':');\n}\n\nif (!fileId || !nodeId) {\n    throw new Error(\"Could not extract File ID or Node ID from URL.\");\n}\n\nreturn [{ json: { figmaUrl, fileId, nodeId, format, figmaToken, jobId } }];"
      },
      "id": "9aadfbfe-1d80-4cd6-91b9-84ee46dffa1f",
      "name": "Input & Parse Figma URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9744,
        1616
      ]
    },
    {
      "parameters": {
        "url": "={{'https://api.figma.com/v1/files/' + $json.fileId + '/nodes?ids=' + $json.nodeId}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Figma-Token",
              "value": "={{ $('Input & Parse Figma URL').first().json.figmaToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "83227b63-1606-4f6b-a064-424ca30ee26c",
      "name": "Figma API Request (Layout)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -9520,
        1616
      ]
    },
    {
      "parameters": {
        "jsCode": "const nodeId = $('Input & Parse Figma URL').first().json.nodeId;\nconst figmaData = $('Figma API Request (Layout)').first().json.nodes[nodeId].document;\nlet targetIds = [];\n\nfunction hasVectorDeep(n) {\n  if (!n || n.visible === false) return false;\n  let bw = n.size ? n.size.x : (n.absoluteBoundingBox ? n.absoluteBoundingBox.width : 0);\n  let bh = n.size ? n.size.y : (n.absoluteBoundingBox ? n.absoluteBoundingBox.height : 0);\n  const isOrthogonalLine = n.type === 'LINE' || bw <= 0.01 || bh <= 0.01;\n  \n  if (!isOrthogonalLine) {\n      if (['VECTOR', 'BOOLEAN_OPERATION', 'STAR', 'POLYGON', 'REGULAR_POLYGON'].includes(n.type)) return true;\n      if (n.type === 'ELLIPSE' && n.arcData) return true;\n  }\n  if (n.children) return n.children.some(hasVectorDeep);\n  return false;\n}\n\nfunction extractIds(node) {\n  if (!node || node.visible === false) return;\n\n  const isImage = node.fills && node.fills.some(f => f.type === 'IMAGE' && f.visible !== false);\n  if (isImage) {\n      targetIds.push(node.id);\n      return;\n  }\n\n  function hasTextDeep(n) {\n      if (!n || n.visible === false) return false;\n      if (n.type === 'TEXT') return true;\n      if (n.children) return n.children.some(hasTextDeep);\n      return false;\n  }\n\n  const isContainer = ['FRAME', 'GROUP', 'INSTANCE', 'COMPONENT', 'SECTION'].includes(node.type);\n  if (isContainer) {\n      if (node.id !== nodeId && hasVectorDeep(node) && !hasTextDeep(node)) {\n          targetIds.push(node.id);\n          return;\n      }\n  }\n\n  let bw = node.size ? node.size.x : (node.absoluteBoundingBox ? node.absoluteBoundingBox.width : 0);\n  let bh = node.size ? node.size.y : (node.absoluteBoundingBox ? node.absoluteBoundingBox.height : 0);\n  const isOrthogonalLine = node.type === 'LINE' || bw <= 0.01 || bh <= 0.01;\n\n  let isVector = false;\n  if (!isOrthogonalLine) {\n      isVector = ['VECTOR', 'BOOLEAN_OPERATION', 'STAR', 'POLYGON', 'REGULAR_POLYGON'].includes(node.type) || (node.type === 'ELLIPSE' && node.arcData);\n  }\n  \n  if (isVector) {\n      targetIds.push(node.id);\n      return;\n  }\n\n  if (node.children) node.children.forEach(extractIds);\n}\n\nextractIds(figmaData);\nif (targetIds.length === 0) targetIds.push(nodeId);\ntargetIds = [...new Set(targetIds)];\n\nconst encodedIds = targetIds.map(id => encodeURIComponent(id)).join(',');\n\nreturn [{ json: { idsToFetch: encodedIds } }];"
      },
      "id": "b18e5bc8-39fd-4e00-9131-5663d4555545",
      "name": "ID Extractor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9312,
        1616
      ]
    },
    {
      "parameters": {
        "url": "={{'https://api.figma.com/v1/images/' + $('Input & Parse Figma URL').first().json.fileId + '?ids=' + $json.idsToFetch + '&format=svg&use_absolute_bounds=true'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Figma-Token",
              "value": "={{ $('Input & Parse Figma URL').first().json.figmaToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9fec5c0e-d14a-4a34-b9b0-5e8c1df9f2ba",
      "name": "Figma Image Fetcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -9120,
        1616
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Input & Parse Figma URL').first().json.format }}",
              "value2": "react"
            }
          ]
        }
      },
      "id": "1e337d7b-c449-438a-be61-cbc7f8af3a2e",
      "name": "Format Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -8912,
        1616
      ]
    },
    {
      "parameters": {
        "jsCode": "const figmaNodeId = $('Input & Parse Figma URL').first().json.nodeId;\nconst figmaData = $('Figma API Request (Layout)').first().json.nodes[figmaNodeId].document;\nconst hostedImages = $input.first().json.images || {};\n\nconst rootX = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.x : 0;\nconst rootY = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.y : 0;\nconst rootWidth = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.width : 1440;\nconst rootHeight = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.height : 3000;\n\nfunction toCqw(val) { return +(val / rootWidth * 100).toFixed(4) + 'cqw'; }\n\nlet fontFamilies = new Set();\n\nfunction escapeJSX(str) {\n    let clean = str.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n    clean = clean.replace(/{/g, '{\"{\"}').replace(/}/g, '{\"}\"}');\n    clean = clean.replace(/(\\r\\n|\\n|\\r)/g, '<br />');\n    return clean;\n}\n\nfunction cssToReactStyle(cssString) {\n    const styleObj = {};\n    cssString.split(';').forEach(rule => {\n        const parts = rule.split(':');\n        const key = parts.shift();\n        if (key && parts.length > 0) {\n            let camelKey = key.trim().replace(/-([a-z])/g, g => g[1].toUpperCase());\n            if (camelKey.startsWith('webkit')) camelKey = 'W' + camelKey.slice(1);\n            styleObj[camelKey] = parts.join(':').trim();\n        }\n    });\n    return styleObj;\n}\n\nfunction getRotationAngle(node) {\n    if (!node.relativeTransform) return 0;\n    const m00 = node.relativeTransform[0][0];\n    const m10 = node.relativeTransform[1][0];\n    return Math.atan2(m10, m00) * (180 / Math.PI);\n}\n\nfunction buildMaskReact(maskNode, maskHtml, parentX, parentY) {\n    if (!maskNode || !maskNode.absoluteBoundingBox) return maskHtml;\n    const mX = maskNode.absoluteBoundingBox.x - parentX;\n    const mY = maskNode.absoluteBoundingBox.y - parentY;\n    const mW = maskNode.absoluteBoundingBox.width;\n    const mH = maskNode.absoluteBoundingBox.height;\n    \n    let maskStyle = `position: absolute; left: ${toCqw(mX)}; top: ${toCqw(mY)}; width: max(1px, ${toCqw(mW)}); height: max(1px, ${toCqw(mH)}); overflow: hidden; z-index: 0; `;\n\n    if (maskNode.rectangleCornerRadii && maskNode.rectangleCornerRadii.length === 4) {\n        maskStyle += `border-radius: ${toCqw(maskNode.rectangleCornerRadii[0])} ${toCqw(maskNode.rectangleCornerRadii[1])} ${toCqw(maskNode.rectangleCornerRadii[2])} ${toCqw(maskNode.rectangleCornerRadii[3])}; `;\n    } else if (maskNode.cornerRadius) {\n        maskStyle += `border-radius: ${toCqw(maskNode.cornerRadius)}; `;\n    } else if (maskNode.type === 'ELLIPSE') {\n        maskStyle += `border-radius: 50%; `;\n    }\n\n    return `<div style={${JSON.stringify(cssToReactStyle(maskStyle))}}>${maskHtml}</div>`;\n}\n\nfunction buildSpanJSX(textChunk, overrideId, node) {\n    if (!textChunk) return '';\n    let escapedText = escapeJSX(textChunk);\n    if (overrideId === 0 || !node.styleOverrideTable || !node.styleOverrideTable[overrideId]) {\n        return escapedText;\n    }\n    const overrideStyle = node.styleOverrideTable[overrideId];\n    let spanStyle = '';\n\n    let fw = overrideStyle.fontWeight;\n    if (fw === undefined && overrideStyle.fontPostScriptName) {\n        const ps = overrideStyle.fontPostScriptName.toLowerCase();\n        if (ps.includes('bold')) fw = 700;\n        else if (ps.includes('semibold')) fw = 600;\n        else if (ps.includes('medium')) fw = 500;\n        else if (ps.includes('light')) fw = 300;\n        else if (ps.includes('black') || ps.includes('heavy')) fw = 900;\n    }\n    if (fw !== undefined) spanStyle += `font-weight: ${fw}; `;\n\n    if (overrideStyle.fontSize !== undefined) spanStyle += `font-size: ${toCqw(overrideStyle.fontSize)}; `;\n    if (overrideStyle.fontFamily) {\n        fontFamilies.add(overrideStyle.fontFamily);\n        spanStyle += `font-family: '${overrideStyle.fontFamily}', -apple-system, sans-serif; `;\n    }\n    if (overrideStyle.italic) spanStyle += `font-style: italic; `;\n    if (overrideStyle.textDecoration === 'UNDERLINE') spanStyle += `text-decoration: underline; `;\n    if (overrideStyle.textDecoration === 'STRIKETHROUGH') spanStyle += `text-decoration: line-through; `;\n    \n    if (overrideStyle.fills && overrideStyle.fills.length > 0) {\n        const solidFill = overrideStyle.fills.find(f => f.type === 'SOLID' && f.visible !== false);\n        if (solidFill) {\n            const c = solidFill.color; \n            const a = solidFill.opacity !== undefined ? solidFill.opacity : (c.a !== undefined ? c.a : 1);\n            spanStyle += `color: rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}); `;\n        }\n    }\n\n    if (spanStyle) {\n        return `<span style={${JSON.stringify(cssToReactStyle(spanStyle))}}>${escapedText}</span>`;\n    }\n    return escapedText;\n}\n\nfunction buildNode(node, parentAbsX, parentAbsY, pW, pH, inheritedOpacity = 1) {\n    if (!node || node.visible === false || !node.absoluteBoundingBox) return '';\n\n    const isHostedImage = hostedImages[node.id] !== undefined;\n    const currentOpacity = (node.opacity !== undefined ? node.opacity : 1) * inheritedOpacity;\n    const rotationAngle = getRotationAngle(node);\n    const isText = node.type === 'TEXT';\n\n    let w = node.size ? node.size.x : node.absoluteBoundingBox.width;\n    let h = node.size ? node.size.y : node.absoluteBoundingBox.height;\n\n    let isEffectivelyLine = !isText && (node.type === 'LINE' || w <= 0.01 || h <= 0.01);\n    if (isEffectivelyLine) {\n        const weight = node.strokeWeight || 1;\n        if (h <= 0.01) h = Math.max(weight, 1);\n        if (w <= 0.01) w = Math.max(weight, 1);\n    }\n\n    const aabbX = node.absoluteBoundingBox.x - parentAbsX;\n    const aabbY = node.absoluteBoundingBox.y - parentAbsY;\n\n    let containerStyle = `position: absolute; box-sizing: border-box; margin: 0; padding: 0; `;\n    containerStyle += `left: ${toCqw(aabbX)}; top: ${toCqw(aabbY)}; width: max(1px, ${toCqw(w)}); height: max(1px, ${toCqw(h)}); `;\n    \n    if (Math.abs(rotationAngle) > 0.01) containerStyle += `transform: rotate(${rotationAngle}deg); `;\n    if (currentOpacity < 1) containerStyle += `opacity: ${currentOpacity}; `;\n    if (node.blendMode && !['PASS_THROUGH', 'NORMAL'].includes(node.blendMode)) containerStyle += `mix-blend-mode: ${node.blendMode.toLowerCase().replace('_', '-')}; `;\n    if (node.clipsContent) containerStyle += `overflow: hidden; `;\n\n    let radiusStyle = '';\n\n    if (!isText && !isHostedImage) {\n        if (node.rectangleCornerRadii && node.rectangleCornerRadii.length === 4) {\n            radiusStyle = `border-radius: ${toCqw(node.rectangleCornerRadii[0])} ${toCqw(node.rectangleCornerRadii[1])} ${toCqw(node.rectangleCornerRadii[2])} ${toCqw(node.rectangleCornerRadii[3])}; `;\n        } else if (node.cornerRadius) {\n            radiusStyle = `border-radius: ${toCqw(node.cornerRadius)}; `;\n        } else if (node.type === 'ELLIPSE') {\n            radiusStyle = `border-radius: 50%; `;\n        }\n    }\n    containerStyle += radiusStyle;\n\n    let visualStyle = `position: absolute; top: 0; left: 0; right: 0; bottom: 0; box-sizing: border-box; pointer-events: none; border-radius: inherit; `;\n    let hasVisuals = false;\n\n    let imgHTML = ''; let textHTML = ''; let innerHTML = ''; let strokeOverlayHTML = '';\n\n    const isPureShape = ['VECTOR', 'BOOLEAN_OPERATION', 'STAR', 'POLYGON', 'REGULAR_POLYGON'].includes(node.type) || (node.type === 'ELLIPSE' && node.arcData);\n\n    if (isHostedImage) {\n        let objectFit = isPureShape ? 'contain' : 'cover';\n        imgHTML = `<img src=\"${hostedImages[node.id]}\" style={${JSON.stringify(cssToReactStyle(`position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: ${objectFit}; object-position: center; border-radius: inherit; pointer-events: none; display: block;`))}} />`;\n    } else if (isEffectivelyLine) {\n        const paint = (node.strokes && node.strokes.find(s => s.visible !== false)) || (node.fills && node.fills.find(f => f.visible !== false));\n        if (paint) {\n            hasVisuals = true;\n            let fillOpacity = paint.opacity !== undefined ? paint.opacity : 1;\n            if (paint.type === 'SOLID') {\n                const c = paint.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                const colorStr = `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a})`;\n                const isDashed = node.strokeDashes && node.strokeDashes.length > 0;\n                if (isDashed) {\n                    const dash = node.strokeDashes[0] || 6;\n                    const gap = node.strokeDashes.length > 1 ? node.strokeDashes[1] : dash;\n                    if (h > w) {\n                        visualStyle += `background-image: repeating-linear-gradient(to bottom, ${colorStr} 0, ${colorStr} ${toCqw(dash)}, transparent ${toCqw(dash)}, transparent ${toCqw(dash + gap)}); background-color: transparent; border: none; `;\n                    } else {\n                        visualStyle += `background-image: repeating-linear-gradient(to right, ${colorStr} 0, ${colorStr} ${toCqw(dash)}, transparent ${toCqw(dash)}, transparent ${toCqw(dash + gap)}); background-color: transparent; border: none; `;\n                    }\n                } else {\n                    visualStyle += `background-color: ${colorStr}; border: none; `;\n                }\n            } else if (paint.type.includes('GRADIENT')) {\n                let gradStyle = '';\n                const stops = paint.gradientStops.map(s => {\n                    const c = s.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                    return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                }).join(', ');\n                if (paint.type === 'GRADIENT_LINEAR') {\n                    let angle = 90;\n                    if (paint.gradientHandlePositions && paint.gradientHandlePositions.length >= 2) {\n                        const p1 = paint.gradientHandlePositions[0];\n                        const p2 = paint.gradientHandlePositions[1];\n                        angle = (Math.atan2(p2.y - p1.y, p2.x - p1.x) * 180 / Math.PI) + 90;\n                    }\n                    gradStyle = `linear-gradient(${angle}deg, ${stops})`;\n                } else {\n                    gradStyle = `radial-gradient(circle, ${stops})`;\n                }\n                visualStyle += `background: ${gradStyle}; border: none; `;\n            }\n        }\n    } else if (isPureShape) {\n        // Blob protection explicitly disables CSS fills for missing vectors\n    } else {\n        if (node.fills && !isText) {\n            let bgStylesArray = [];\n            node.fills.forEach(fill => {\n                if (fill.visible === false) return;\n                const fillOpacity = fill.opacity !== undefined ? fill.opacity : 1;\n                if (fill.type === 'SOLID') {\n                    const c = fill.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                    if (a > 0) bgStylesArray.push(`rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a})`);\n                } else if (fill.type === 'GRADIENT_LINEAR') {\n                    const stops = fill.gradientStops.map(s => {\n                        const c = s.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                        return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                    }).join(', ');\n                    let angle = 90; \n                    if (fill.gradientHandlePositions && fill.gradientHandlePositions.length >= 2) {\n                        const p1 = fill.gradientHandlePositions[0];\n                        const p2 = fill.gradientHandlePositions[1];\n                        angle = (Math.atan2(p2.y - p1.y, p2.x - p1.x) * 180 / Math.PI) + 90;\n                    }\n                    bgStylesArray.push(`linear-gradient(${angle}deg, ${stops})`);\n                } else if (fill.type === 'GRADIENT_RADIAL') {\n                    const stops = fill.gradientStops.map(s => {\n                        const c = s.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                        return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                    }).join(', ');\n                    bgStylesArray.push(`radial-gradient(circle, ${stops})`);\n                }\n            });\n            if (bgStylesArray.length > 0) { \n                bgStylesArray.reverse();\n                visualStyle += `background: ${bgStylesArray.join(', ')}; `; \n                hasVisuals = true; \n            }\n        }\n        \n        if (node.strokes && !isText) {\n            const stroke = node.strokes.find(s => s.visible !== false);\n            if (stroke) {\n                hasVisuals = true;\n                let fillOpacity = stroke.opacity !== undefined ? stroke.opacity : 1;\n                if (stroke.type === 'SOLID') {\n                    const c = stroke.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                    const colorStr = `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a})`;\n                    const isDashed = node.strokeDashes && node.strokeDashes.length > 0;\n                    const borderStyle = isDashed ? 'dashed' : 'solid';\n                    if (node.individualStrokeWeights) {\n                        if (node.individualStrokeWeights.top > 0) visualStyle += `border-top: max(1px, ${toCqw(node.individualStrokeWeights.top)}) ${borderStyle} ${colorStr}; `;\n                        if (node.individualStrokeWeights.right > 0) visualStyle += `border-right: max(1px, ${toCqw(node.individualStrokeWeights.right)}) ${borderStyle} ${colorStr}; `;\n                        if (node.individualStrokeWeights.bottom > 0) visualStyle += `border-bottom: max(1px, ${toCqw(node.individualStrokeWeights.bottom)}) ${borderStyle} ${colorStr}; `;\n                        if (node.individualStrokeWeights.left > 0) visualStyle += `border-left: max(1px, ${toCqw(node.individualStrokeWeights.left)}) ${borderStyle} ${colorStr}; `;\n                    } else {\n                        const sw = node.strokeWeight || 1; visualStyle += `border: max(1px, ${toCqw(sw)}) ${borderStyle} ${colorStr}; `;\n                    }\n                } else if (stroke.type.includes('GRADIENT')) {\n                    let gradStyle = '';\n                    const stops = stroke.gradientStops.map(s => {\n                        const c = s.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                        return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                    }).join(', ');\n                    if (stroke.type === 'GRADIENT_LINEAR') {\n                        let angle = 90;\n                        if (stroke.gradientHandlePositions && stroke.gradientHandlePositions.length >= 2) {\n                            const p1 = stroke.gradientHandlePositions[0];\n                            const p2 = stroke.gradientHandlePositions[1];\n                            angle = (Math.atan2(p2.y - p1.y, p2.x - p1.x) * 180 / Math.PI) + 90;\n                        }\n                        gradStyle = `linear-gradient(${angle}deg, ${stops})`;\n                    } else {\n                        gradStyle = `radial-gradient(circle, ${stops})`;\n                    }\n                    const sw = node.strokeWeight || 1;\n                    let overlayStyle = `position: absolute; top: 0; left: 0; right: 0; bottom: 0; box-sizing: border-box; pointer-events: none; border: max(1px, ${toCqw(sw)}) solid transparent; background: ${gradStyle} border-box; -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0); -webkit-mask-composite: xor; mask-composite: exclude; border-radius: inherit; `;\n                    strokeOverlayHTML = `<div style={${JSON.stringify(cssToReactStyle(overlayStyle))}}></div>`;\n                }\n            }\n        }\n\n        if (node.effects && !isText) {\n            let shadows = [];\n            for (const effect of node.effects) {\n                if (effect.visible !== false && effect.type === 'DROP_SHADOW') {\n                    const c = effect.color;\n                    const spread = effect.spread ? toCqw(effect.spread) : '0cqw';\n                    shadows.push(`${toCqw(effect.offset.x)} ${toCqw(effect.offset.y)} ${toCqw(effect.radius)} ${spread} rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${c.a})`);\n                }\n                if (effect.visible !== false && effect.type === 'BACKGROUND_BLUR') {\n                    visualStyle += `backdrop-filter: blur(${toCqw(effect.radius)}); -webkit-backdrop-filter: blur(${toCqw(effect.radius)}); `; hasVisuals = true;\n                }\n                if (effect.visible !== false && effect.type === 'LAYER_BLUR') {\n                    containerStyle += `filter: blur(${toCqw(effect.radius)}); -webkit-filter: blur(${toCqw(effect.radius)}); `;\n                }\n            }\n            if (shadows.length > 0) { visualStyle += `box-shadow: ${shadows.join(', ')}; `; hasVisuals = true; }\n        }\n    }\n\n    if (isText) {\n        containerStyle += 'display: flex; flex-direction: column; overflow: visible; font-kerning: normal; text-rendering: optimizeLegibility; ';\n        \n        if (node.style && node.style.textAutoResize === 'WIDTH_AND_HEIGHT') {\n            containerStyle += 'white-space: pre; ';\n        } else {\n            containerStyle += 'white-space: pre-wrap; overflow-wrap: break-word; word-break: break-word; ';\n        }\n\n        if (node.characters) {\n            if (node.characterStyleOverrides && node.characterStyleOverrides.length > 0 && node.styleOverrideTable) {\n                let currentOverride = node.characterStyleOverrides[0];\n                let currentSpanText = '';\n                textHTML = '';\n                for (let i = 0; i < node.characters.length; i++) {\n                    const char = node.characters[i];\n                    const overrideId = node.characterStyleOverrides[i] !== undefined ? node.characterStyleOverrides[i] : 0;\n                    if (overrideId !== currentOverride) {\n                        textHTML += buildSpanJSX(currentSpanText, currentOverride, node);\n                        currentSpanText = char;\n                        currentOverride = overrideId;\n                    } else {\n                        currentSpanText += char;\n                    }\n                }\n                if (currentSpanText.length > 0) {\n                    textHTML += buildSpanJSX(currentSpanText, currentOverride, node);\n                }\n            } else {\n                textHTML = escapeJSX(node.characters);\n            }\n        }\n\n        if (node.style) {\n            containerStyle += `font-size: ${toCqw(node.style.fontSize)}; font-weight: ${node.style.fontWeight}; `;\n            if (node.style.fontFamily) {\n                fontFamilies.add(node.style.fontFamily);\n                containerStyle += `font-family: '${node.style.fontFamily}', -apple-system, sans-serif; `;\n            }\n            if (node.style.textCase === 'UPPER') containerStyle += `text-transform: uppercase; `;\n            else if (node.style.textCase === 'LOWER') containerStyle += `text-transform: lowercase; `;\n            else if (node.style.textCase === 'TITLE') containerStyle += `text-transform: capitalize; `;\n            if (node.style.italic) containerStyle += `font-style: italic; `;\n            if (node.style.lineHeightPx) containerStyle += `line-height: ${toCqw(node.style.lineHeightPx)}; `;\n            else containerStyle += `line-height: normal; `;\n            if (node.style.letterSpacing !== undefined) containerStyle += `letter-spacing: ${toCqw(node.style.letterSpacing)}; `;\n            \n            if (node.style.textAlignHorizontal === 'CENTER') containerStyle += `text-align: center; align-items: center; `;\n            else if (node.style.textAlignHorizontal === 'RIGHT') containerStyle += `text-align: right; align-items: flex-end; `;\n            else containerStyle += `text-align: left; align-items: flex-start; `;\n            \n            if (node.style.textAlignVertical === 'CENTER') containerStyle += `justify-content: center; `;\n            else if (node.style.textAlignVertical === 'BOTTOM') containerStyle += `justify-content: flex-end; `;\n            else containerStyle += `justify-content: flex-start; `;\n        }\n\n        let fontColorHTML = `color: #000000; `;\n        if (node.fills && node.fills.length > 0) {\n            const solidFill = node.fills.find(f => f.type === 'SOLID' && f.visible !== false);\n            const gradFill = node.fills.find(f => f.type === 'GRADIENT_LINEAR' && f.visible !== false);\n            if (solidFill) {\n                const c = solidFill.color; const a = solidFill.opacity !== undefined ? solidFill.opacity : (c.a !== undefined ? c.a : 1);\n                fontColorHTML = `color: rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}); `;\n            } else if (gradFill) {\n                const stops = gradFill.gradientStops.map(s => {\n                    const c = s.color; const a = c.a !== undefined ? c.a : 1;\n                    return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                }).join(', ');\n                fontColorHTML = `background: linear-gradient(90deg, ${stops}); -webkit-background-clip: text; -webkit-text-fill-color: transparent; `;\n            }\n        }\n        \n        textHTML = `<div style={${JSON.stringify(cssToReactStyle(\"display: block; width: 100%; margin: 0; padding: 0; \" + fontColorHTML))}}>${textHTML}</div>`;\n    }\n\n    if (!isHostedImage && node.children) {\n        let currentMask = null;\n        let maskInnerHtml = '';\n        node.children.forEach(child => {\n            if (child.isMask) {\n                if (currentMask) {\n                    innerHTML += buildMaskReact(currentMask, maskInnerHtml, node.absoluteBoundingBox.x, node.absoluteBoundingBox.y);\n                }\n                currentMask = child;\n                maskInnerHtml = '';\n            } else if (currentMask) {\n                maskInnerHtml += buildNode(child, currentMask.absoluteBoundingBox.x, currentMask.absoluteBoundingBox.y, currentMask.absoluteBoundingBox.width, currentMask.absoluteBoundingBox.height, currentOpacity);\n            } else {\n                innerHTML += buildNode(child, node.absoluteBoundingBox.x, node.absoluteBoundingBox.y, w, h, currentOpacity);\n            }\n        });\n        if (currentMask) {\n            innerHTML += buildMaskReact(currentMask, maskInnerHtml, node.absoluteBoundingBox.x, node.absoluteBoundingBox.y);\n        }\n    }\n\n    let htmlTag = 'div';\n    let extraAttributes = '';\n    \n    const hasReactions = node.reactions && node.reactions.length > 0;\n    const hasTransition = !!node.transitionNodeID;\n\n    if (hasReactions || hasTransition) {\n        let isUrl = false;\n        let urlHref = '';\n        \n        if (hasReactions) {\n            const urlReaction = node.reactions.find(r => r.action && r.action.type === 'URL');\n            if (urlReaction) {\n                isUrl = true;\n                urlHref = urlReaction.action.url;\n            }\n        }\n\n        if (isUrl) {\n            htmlTag = 'a';\n            extraAttributes = ` href=\"${urlHref}\" target=\"_blank\" rel=\"noopener noreferrer\"`;\n        } else {\n            htmlTag = 'button';\n            extraAttributes = ` type=\"button\"`;\n        }\n        \n        containerStyle += `appearance: none; background: transparent; border: none; padding: 0; margin: 0; text-decoration: none; cursor: pointer; outline: none; box-shadow: none; z-index: 50; pointer-events: auto; `;\n    }\n\n    let finalVisualDiv = hasVisuals ? `<div style={${JSON.stringify(cssToReactStyle(visualStyle))}}></div>` : '';\n    return `<${htmlTag} style={${JSON.stringify(cssToReactStyle(containerStyle))}}${extraAttributes}>${finalVisualDiv}${imgHTML}${strokeOverlayHTML}${textHTML}${innerHTML}</${htmlTag}>`;\n}\n\nlet rootBg = '#ffffff';\nif (figmaData.fills && figmaData.fills.length > 0) {\n    const bgFill = figmaData.fills.find(f => f.type === 'SOLID' && f.visible !== false);\n    if (bgFill) {\n        const a = bgFill.opacity !== undefined ? bgFill.opacity : (bgFill.color.a !== undefined ? bgFill.color.a : 1);\n        rootBg = `rgba(${Math.round(bgFill.color.r*255)}, ${Math.round(bgFill.color.g*255)}, ${Math.round(bgFill.color.b*255)}, ${a})`;\n    }\n}\n\nlet elementsHTML = '';\nif (figmaData.children) {\n    figmaData.children.forEach(child => {\n        elementsHTML += buildNode(child, rootX, rootY, rootWidth, rootHeight, 1);\n    });\n}\n\nlet fontsHTML = '';\nfontFamilies.forEach(f => {\n    const familyName = f.replace(/\\s+/g, '+');\n    fontsHTML += `<link href=\"https://fonts.googleapis.com/css2?family=${familyName}:wght@300;400;500;600;700;800;900&display=swap\" rel=\"stylesheet\" />\\n        `;\n});\n\nconst rootContainerStyle = `position: relative; width: 100%; min-height: 100vh; height: ${(rootHeight/rootWidth)*100}vw; background-color: ${rootBg}; margin: 0; overflow-x: hidden; overflow-y: hidden; -webkit-font-smoothing: antialiased; container-type: inline-size;`;\n\nconst finalCode = `import React from 'react';\n\nexport default function FigmaDesign() {\n  return (\n    <>\n        ${fontsHTML}\n        <style dangerouslySetInnerHTML={{ __html: \\`body, html { margin: 0; padding: 0; width: 100%; height: 100%; overflow-x: hidden; }\\` }} />\n        <div style={${JSON.stringify(cssToReactStyle(rootContainerStyle))}}>\n            ${elementsHTML}\n        </div>\n    </>\n  );\n}`;\n\nreturn [{ json: { status: \"success\", rawCode: finalCode } }];"
      },
      "id": "96131390-8c39-4dc0-a635-9f447db471a5",
      "name": "React JSX Compiler Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8656,
        1472
      ]
    },
    {
      "parameters": {
        "jsCode": "const figmaNodeId = $('Input & Parse Figma URL').first().json.nodeId;\nconst figmaData = $('Figma API Request (Layout)').first().json.nodes[figmaNodeId].document;\nconst hostedImages = $input.first().json.images || {};\n\nconst rootX = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.x : 0;\nconst rootY = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.y : 0;\nconst rootWidth = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.width : 1440;\nconst rootHeight = figmaData.absoluteBoundingBox ? figmaData.absoluteBoundingBox.height : 3000;\n\nfunction toCqw(val) { return +(val / rootWidth * 100).toFixed(4) + 'cqw'; }\n\nlet fontFamilies = new Set();\n\nfunction escapeHTML(str) {\n    return str.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;').replace(/(\\r\\n|\\n|\\r)/g, '<br />');\n}\n\nfunction getRotationAngle(node) {\n    if (!node.relativeTransform) return 0;\n    const m00 = node.relativeTransform[0][0];\n    const m10 = node.relativeTransform[1][0];\n    return Math.atan2(m10, m00) * (180 / Math.PI);\n}\n\nfunction buildMaskHTML(maskNode, maskHtml, parentX, parentY) {\n    if (!maskNode || !maskNode.absoluteBoundingBox) return maskHtml;\n    const mX = maskNode.absoluteBoundingBox.x - parentX;\n    const mY = maskNode.absoluteBoundingBox.y - parentY;\n    const mW = maskNode.absoluteBoundingBox.width;\n    const mH = maskNode.absoluteBoundingBox.height;\n    \n    let maskStyle = `position: absolute; left: ${toCqw(mX)}; top: ${toCqw(mY)}; width: max(1px, ${toCqw(mW)}); height: max(1px, ${toCqw(mH)}); overflow: hidden; z-index: 0; `;\n\n    if (maskNode.rectangleCornerRadii && maskNode.rectangleCornerRadii.length === 4) {\n        maskStyle += `border-radius: ${toCqw(maskNode.rectangleCornerRadii[0])} ${toCqw(maskNode.rectangleCornerRadii[1])} ${toCqw(maskNode.rectangleCornerRadii[2])} ${toCqw(maskNode.rectangleCornerRadii[3])}; `;\n    } else if (maskNode.cornerRadius) {\n        maskStyle += `border-radius: ${toCqw(maskNode.cornerRadius)}; `;\n    } else if (maskNode.type === 'ELLIPSE') {\n        maskStyle += `border-radius: 50%; `;\n    }\n\n    return `<div style=\"${maskStyle}\">${maskHtml}</div>`;\n}\n\nfunction buildSpanHTML(textChunk, overrideId, node) {\n    if (!textChunk) return '';\n    let escapedText = escapeHTML(textChunk);\n    if (overrideId === 0 || !node.styleOverrideTable || !node.styleOverrideTable[overrideId]) {\n        return escapedText;\n    }\n    const overrideStyle = node.styleOverrideTable[overrideId];\n    let spanStyle = '';\n\n    let fw = overrideStyle.fontWeight;\n    if (fw === undefined && overrideStyle.fontPostScriptName) {\n        const ps = overrideStyle.fontPostScriptName.toLowerCase();\n        if (ps.includes('bold')) fw = 700;\n        else if (ps.includes('semibold')) fw = 600;\n        else if (ps.includes('medium')) fw = 500;\n        else if (ps.includes('light')) fw = 300;\n        else if (ps.includes('black') || ps.includes('heavy')) fw = 900;\n    }\n    if (fw !== undefined) spanStyle += `font-weight: ${fw}; `;\n\n    if (overrideStyle.fontSize !== undefined) spanStyle += `font-size: ${toCqw(overrideStyle.fontSize)}; `;\n    if (overrideStyle.fontFamily) {\n        fontFamilies.add(overrideStyle.fontFamily);\n        spanStyle += `font-family: '${overrideStyle.fontFamily}', -apple-system, sans-serif; `;\n    }\n    if (overrideStyle.italic) spanStyle += `font-style: italic; `;\n    if (overrideStyle.textDecoration === 'UNDERLINE') spanStyle += `text-decoration: underline; `;\n    if (overrideStyle.textDecoration === 'STRIKETHROUGH') spanStyle += `text-decoration: line-through; `;\n    \n    if (overrideStyle.fills && overrideStyle.fills.length > 0) {\n        const solidFill = overrideStyle.fills.find(f => f.type === 'SOLID' && f.visible !== false);\n        if (solidFill) {\n            const c = solidFill.color; \n            const a = solidFill.opacity !== undefined ? solidFill.opacity : (c.a !== undefined ? c.a : 1);\n            spanStyle += `color: rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}); `;\n        }\n    }\n\n    if (spanStyle) {\n        return `<span style=\"${spanStyle}\">${escapedText}</span>`;\n    }\n    return escapedText;\n}\n\nfunction buildNode(node, parentAbsX, parentAbsY, pW, pH, inheritedOpacity = 1) {\n    if (!node || node.visible === false || !node.absoluteBoundingBox) return '';\n\n    const isHostedImage = hostedImages[node.id] !== undefined;\n    const currentOpacity = (node.opacity !== undefined ? node.opacity : 1) * inheritedOpacity;\n    const rotationAngle = getRotationAngle(node);\n    const isText = node.type === 'TEXT';\n\n    let w = node.size ? node.size.x : node.absoluteBoundingBox.width;\n    let h = node.size ? node.size.y : node.absoluteBoundingBox.height;\n\n    let isEffectivelyLine = !isText && (node.type === 'LINE' || w <= 0.01 || h <= 0.01);\n    if (isEffectivelyLine) {\n        const weight = node.strokeWeight || 1;\n        if (h <= 0.01) h = Math.max(weight, 1);\n        if (w <= 0.01) w = Math.max(weight, 1);\n    }\n\n    const aabbX = node.absoluteBoundingBox.x - parentAbsX;\n    const aabbY = node.absoluteBoundingBox.y - parentAbsY;\n\n    let containerStyle = `position: absolute; box-sizing: border-box; margin: 0; padding: 0; `;\n    containerStyle += `left: ${toCqw(aabbX)}; top: ${toCqw(aabbY)}; width: max(1px, ${toCqw(w)}); height: max(1px, ${toCqw(h)}); `;\n    \n    if (Math.abs(rotationAngle) > 0.01) containerStyle += `transform: rotate(${rotationAngle}deg); `;\n    if (currentOpacity < 1) containerStyle += `opacity: ${currentOpacity}; `;\n    if (node.blendMode && !['PASS_THROUGH', 'NORMAL'].includes(node.blendMode)) containerStyle += `mix-blend-mode: ${node.blendMode.toLowerCase().replace('_', '-')}; `;\n    if (node.clipsContent) containerStyle += `overflow: hidden; `;\n\n    let radiusStyle = '';\n\n    if (!isText && !isHostedImage) {\n        if (node.rectangleCornerRadii && node.rectangleCornerRadii.length === 4) {\n            radiusStyle = `border-radius: ${toCqw(node.rectangleCornerRadii[0])} ${toCqw(node.rectangleCornerRadii[1])} ${toCqw(node.rectangleCornerRadii[2])} ${toCqw(node.rectangleCornerRadii[3])}; `;\n        } else if (node.cornerRadius) {\n            radiusStyle = `border-radius: ${toCqw(node.cornerRadius)}; `;\n        } else if (node.type === 'ELLIPSE') {\n            radiusStyle = `border-radius: 50%; `;\n        }\n    }\n    containerStyle += radiusStyle;\n\n    let visualStyle = `position: absolute; top: 0; left: 0; right: 0; bottom: 0; box-sizing: border-box; pointer-events: none; border-radius: inherit; `;\n    let hasVisuals = false;\n\n    let imgHTML = ''; let textHTML = ''; let innerHTML = ''; let strokeOverlayHTML = '';\n\n    const isPureShape = ['VECTOR', 'BOOLEAN_OPERATION', 'STAR', 'POLYGON', 'REGULAR_POLYGON'].includes(node.type) || (node.type === 'ELLIPSE' && node.arcData);\n\n    if (isHostedImage) {\n        let objectFit = isPureShape ? 'contain' : 'cover';\n        imgHTML = `<img src=\"${hostedImages[node.id]}\" style=\"position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: ${objectFit}; object-position: center; border-radius: inherit; pointer-events: none; display: block;\" />`;\n    } else if (isEffectivelyLine) {\n        const paint = (node.strokes && node.strokes.find(s => s.visible !== false)) || (node.fills && node.fills.find(f => f.visible !== false));\n        if (paint) {\n            hasVisuals = true;\n            let fillOpacity = paint.opacity !== undefined ? paint.opacity : 1;\n            if (paint.type === 'SOLID') {\n                const c = paint.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                const colorStr = `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a})`;\n                const isDashed = node.strokeDashes && node.strokeDashes.length > 0;\n                if (isDashed) {\n                    const dash = node.strokeDashes[0] || 6;\n                    const gap = node.strokeDashes.length > 1 ? node.strokeDashes[1] : dash;\n                    if (h > w) {\n                        visualStyle += `background-image: repeating-linear-gradient(to bottom, ${colorStr} 0, ${colorStr} ${toCqw(dash)}, transparent ${toCqw(dash)}, transparent ${toCqw(dash + gap)}); background-color: transparent; border: none; `;\n                    } else {\n                        visualStyle += `background-image: repeating-linear-gradient(to right, ${colorStr} 0, ${colorStr} ${toCqw(dash)}, transparent ${toCqw(dash)}, transparent ${toCqw(dash + gap)}); background-color: transparent; border: none; `;\n                    }\n                } else {\n                    visualStyle += `background-color: ${colorStr}; border: none; `;\n                }\n            } else if (paint.type.includes('GRADIENT')) {\n                let gradStyle = '';\n                const stops = paint.gradientStops.map(s => {\n                    const c = s.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                    return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                }).join(', ');\n                if (paint.type === 'GRADIENT_LINEAR') {\n                    let angle = 90;\n                    if (paint.gradientHandlePositions && paint.gradientHandlePositions.length >= 2) {\n                        const p1 = paint.gradientHandlePositions[0];\n                        const p2 = paint.gradientHandlePositions[1];\n                        angle = (Math.atan2(p2.y - p1.y, p2.x - p1.x) * 180 / Math.PI) + 90;\n                    }\n                    gradStyle = `linear-gradient(${angle}deg, ${stops})`;\n                } else {\n                    gradStyle = `radial-gradient(circle, ${stops})`;\n                }\n                visualStyle += `background: ${gradStyle}; border: none; `;\n            }\n        }\n    } else if (isPureShape) {\n        // Blob protection explicitly disables CSS fills for missing vectors\n    } else {\n        if (node.fills && !isText) {\n            let bgStylesArray = [];\n            node.fills.forEach(fill => {\n                if (fill.visible === false) return;\n                const fillOpacity = fill.opacity !== undefined ? fill.opacity : 1;\n                if (fill.type === 'SOLID') {\n                    const c = fill.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                    if (a > 0) bgStylesArray.push(`rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a})`);\n                } else if (fill.type === 'GRADIENT_LINEAR') {\n                    const stops = fill.gradientStops.map(s => {\n                        const c = s.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                        return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                    }).join(', ');\n                    let angle = 90; \n                    if (fill.gradientHandlePositions && fill.gradientHandlePositions.length >= 2) {\n                        const p1 = fill.gradientHandlePositions[0];\n                        const p2 = fill.gradientHandlePositions[1];\n                        angle = (Math.atan2(p2.y - p1.y, p2.x - p1.x) * 180 / Math.PI) + 90;\n                    }\n                    bgStylesArray.push(`linear-gradient(${angle}deg, ${stops})`);\n                } else if (fill.type === 'GRADIENT_RADIAL') {\n                    const stops = fill.gradientStops.map(s => {\n                        const c = s.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                        return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                    }).join(', ');\n                    bgStylesArray.push(`radial-gradient(circle, ${stops})`);\n                }\n            });\n            if (bgStylesArray.length > 0) { \n                bgStylesArray.reverse();\n                visualStyle += `background: ${bgStylesArray.join(', ')}; `; \n                hasVisuals = true; \n            }\n        }\n        \n        if (node.strokes && !isText) {\n            const stroke = node.strokes.find(s => s.visible !== false);\n            if (stroke) {\n                hasVisuals = true;\n                let fillOpacity = stroke.opacity !== undefined ? stroke.opacity : 1;\n                if (stroke.type === 'SOLID') {\n                    const c = stroke.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                    const colorStr = `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a})`;\n                    const isDashed = node.strokeDashes && node.strokeDashes.length > 0;\n                    const borderStyle = isDashed ? 'dashed' : 'solid';\n                    if (node.individualStrokeWeights) {\n                        if (node.individualStrokeWeights.top > 0) visualStyle += `border-top: max(1px, ${toCqw(node.individualStrokeWeights.top)}) ${borderStyle} ${colorStr}; `;\n                        if (node.individualStrokeWeights.right > 0) visualStyle += `border-right: max(1px, ${toCqw(node.individualStrokeWeights.right)}) ${borderStyle} ${colorStr}; `;\n                        if (node.individualStrokeWeights.bottom > 0) visualStyle += `border-bottom: max(1px, ${toCqw(node.individualStrokeWeights.bottom)}) ${borderStyle} ${colorStr}; `;\n                        if (node.individualStrokeWeights.left > 0) visualStyle += `border-left: max(1px, ${toCqw(node.individualStrokeWeights.left)}) ${borderStyle} ${colorStr}; `;\n                    } else {\n                        const sw = node.strokeWeight || 1; visualStyle += `border: max(1px, ${toCqw(sw)}) ${borderStyle} ${colorStr}; `;\n                    }\n                } else if (stroke.type.includes('GRADIENT')) {\n                    let gradStyle = '';\n                    const stops = stroke.gradientStops.map(s => {\n                        const c = s.color; const a = (c.a !== undefined ? c.a : 1) * fillOpacity;\n                        return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                    }).join(', ');\n                    if (stroke.type === 'GRADIENT_LINEAR') {\n                        let angle = 90;\n                        if (stroke.gradientHandlePositions && stroke.gradientHandlePositions.length >= 2) {\n                            const p1 = stroke.gradientHandlePositions[0];\n                            const p2 = stroke.gradientHandlePositions[1];\n                            angle = (Math.atan2(p2.y - p1.y, p2.x - p1.x) * 180 / Math.PI) + 90;\n                        }\n                        gradStyle = `linear-gradient(${angle}deg, ${stops})`;\n                    } else {\n                        gradStyle = `radial-gradient(circle, ${stops})`;\n                    }\n                    const sw = node.strokeWeight || 1;\n                    let overlayStyle = `position: absolute; top: 0; left: 0; right: 0; bottom: 0; box-sizing: border-box; pointer-events: none; border: max(1px, ${toCqw(sw)}) solid transparent; background: ${gradStyle} border-box; -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0); -webkit-mask-composite: xor; mask-composite: exclude; border-radius: inherit; `;\n                    strokeOverlayHTML = `<div style=\"${overlayStyle}\"></div>`;\n                }\n            }\n        }\n\n        if (node.effects && !isText) {\n            let shadows = [];\n            for (const effect of node.effects) {\n                if (effect.visible !== false && effect.type === 'DROP_SHADOW') {\n                    const c = effect.color;\n                    const spread = effect.spread ? toCqw(effect.spread) : '0cqw';\n                    shadows.push(`${toCqw(effect.offset.x)} ${toCqw(effect.offset.y)} ${toCqw(effect.radius)} ${spread} rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${c.a})`);\n                }\n                if (effect.visible !== false && effect.type === 'BACKGROUND_BLUR') {\n                    visualStyle += `backdrop-filter: blur(${toCqw(effect.radius)}); -webkit-backdrop-filter: blur(${toCqw(effect.radius)}); `; hasVisuals = true;\n                }\n                if (effect.visible !== false && effect.type === 'LAYER_BLUR') {\n                    containerStyle += `filter: blur(${toCqw(effect.radius)}); -webkit-filter: blur(${toCqw(effect.radius)}); `;\n                }\n            }\n            if (shadows.length > 0) { visualStyle += `box-shadow: ${shadows.join(', ')}; `; hasVisuals = true; }\n        }\n    }\n\n    if (isText) {\n        containerStyle += 'display: flex; flex-direction: column; overflow: visible; font-kerning: normal; text-rendering: optimizeLegibility; ';\n        \n        if (node.style && node.style.textAutoResize === 'WIDTH_AND_HEIGHT') {\n            containerStyle += 'white-space: pre; ';\n        } else {\n            containerStyle += 'white-space: pre-wrap; overflow-wrap: break-word; word-break: break-word; ';\n        }\n\n        if (node.characters) {\n            if (node.characterStyleOverrides && node.characterStyleOverrides.length > 0 && node.styleOverrideTable) {\n                let currentOverride = node.characterStyleOverrides[0];\n                let currentSpanText = '';\n                textHTML = '';\n                for (let i = 0; i < node.characters.length; i++) {\n                    const char = node.characters[i];\n                    const overrideId = node.characterStyleOverrides[i] !== undefined ? node.characterStyleOverrides[i] : 0;\n                    if (overrideId !== currentOverride) {\n                        textHTML += buildSpanHTML(currentSpanText, currentOverride, node);\n                        currentSpanText = char;\n                        currentOverride = overrideId;\n                    } else {\n                        currentSpanText += char;\n                    }\n                }\n                if (currentSpanText.length > 0) {\n                    textHTML += buildSpanHTML(currentSpanText, currentOverride, node);\n                }\n            } else {\n                textHTML = escapeHTML(node.characters);\n            }\n        }\n\n        if (node.style) {\n            containerStyle += `font-size: ${toCqw(node.style.fontSize)}; font-weight: ${node.style.fontWeight}; `;\n            if (node.style.fontFamily) {\n                fontFamilies.add(node.style.fontFamily);\n                containerStyle += `font-family: '${node.style.fontFamily}', -apple-system, sans-serif; `;\n            }\n            if (node.style.textCase === 'UPPER') containerStyle += `text-transform: uppercase; `;\n            else if (node.style.textCase === 'LOWER') containerStyle += `text-transform: lowercase; `;\n            else if (node.style.textCase === 'TITLE') containerStyle += `text-transform: capitalize; `;\n            if (node.style.italic) containerStyle += `font-style: italic; `;\n            if (node.style.lineHeightPx) containerStyle += `line-height: ${toCqw(node.style.lineHeightPx)}; `;\n            else containerStyle += `line-height: normal; `;\n            if (node.style.letterSpacing !== undefined) containerStyle += `letter-spacing: ${toCqw(node.style.letterSpacing)}; `;\n            \n            if (node.style.textAlignHorizontal === 'CENTER') containerStyle += `text-align: center; align-items: center; `;\n            else if (node.style.textAlignHorizontal === 'RIGHT') containerStyle += `text-align: right; align-items: flex-end; `;\n            else containerStyle += `text-align: left; align-items: flex-start; `;\n            \n            if (node.style.textAlignVertical === 'CENTER') containerStyle += `justify-content: center; `;\n            else if (node.style.textAlignVertical === 'BOTTOM') containerStyle += `justify-content: flex-end; `;\n            else containerStyle += `justify-content: flex-start; `;\n        }\n\n        let fontColorHTML = `color: #000000; `;\n        if (node.fills && node.fills.length > 0) {\n            const solidFill = node.fills.find(f => f.type === 'SOLID' && f.visible !== false);\n            const gradFill = node.fills.find(f => f.type === 'GRADIENT_LINEAR' && f.visible !== false);\n            if (solidFill) {\n                const c = solidFill.color; const a = solidFill.opacity !== undefined ? solidFill.opacity : (c.a !== undefined ? c.a : 1);\n                fontColorHTML = `color: rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}); `;\n            } else if (gradFill) {\n                const stops = gradFill.gradientStops.map(s => {\n                    const c = s.color; const a = c.a !== undefined ? c.a : 1;\n                    return `rgba(${Math.round(c.r*255)}, ${Math.round(c.g*255)}, ${Math.round(c.b*255)}, ${a}) ${+(s.position * 100).toFixed(1)}%`;\n                }).join(', ');\n                fontColorHTML = `background: linear-gradient(90deg, ${stops}); -webkit-background-clip: text; -webkit-text-fill-color: transparent; `;\n            }\n        }\n        \n        textHTML = `<div style=\"display: block; width: 100%; margin: 0; padding: 0; ${fontColorHTML}\">${textHTML}</div>`;\n    }\n\n    if (!isHostedImage && node.children) {\n        let currentMask = null;\n        let maskInnerHtml = '';\n        node.children.forEach(child => {\n            if (child.isMask) {\n                if (currentMask) {\n                    innerHTML += buildMaskHTML(currentMask, maskInnerHtml, node.absoluteBoundingBox.x, node.absoluteBoundingBox.y);\n                }\n                currentMask = child;\n                maskInnerHtml = '';\n            } else if (currentMask) {\n                maskInnerHtml += buildNode(child, currentMask.absoluteBoundingBox.x, currentMask.absoluteBoundingBox.y, currentMask.absoluteBoundingBox.width, currentMask.absoluteBoundingBox.height, currentOpacity);\n            } else {\n                innerHTML += buildNode(child, node.absoluteBoundingBox.x, node.absoluteBoundingBox.y, w, h, currentOpacity);\n            }\n        });\n        if (currentMask) {\n            innerHTML += buildMaskHTML(currentMask, maskInnerHtml, node.absoluteBoundingBox.x, node.absoluteBoundingBox.y);\n        }\n    }\n\n    let htmlTag = 'div';\n    let extraAttributes = '';\n    \n    const hasReactions = node.reactions && node.reactions.length > 0;\n    const hasTransition = !!node.transitionNodeID;\n\n    if (hasReactions || hasTransition) {\n        let isUrl = false;\n        let urlHref = '';\n        \n        if (hasReactions) {\n            const urlReaction = node.reactions.find(r => r.action && r.action.type === 'URL');\n            if (urlReaction) {\n                isUrl = true;\n                urlHref = urlReaction.action.url;\n            }\n        }\n\n        if (isUrl) {\n            htmlTag = 'a';\n            extraAttributes = ` href=\"${urlHref}\" target=\"_blank\" rel=\"noopener noreferrer\"`;\n        } else {\n            htmlTag = 'button';\n            extraAttributes = ` type=\"button\"`;\n        }\n        \n        containerStyle += `appearance: none; background: transparent; border: none; padding: 0; margin: 0; text-decoration: none; cursor: pointer; outline: none; box-shadow: none; z-index: 50; pointer-events: auto; `;\n    }\n\n    let finalVisualDiv = hasVisuals ? `<div style=\"${visualStyle}\"></div>` : '';\n    return `<${htmlTag} style=\"${containerStyle}\"${extraAttributes}>${finalVisualDiv}${imgHTML}${strokeOverlayHTML}${textHTML}${innerHTML}</${htmlTag}>`;\n}\n\nlet rootBg = '#ffffff';\nif (figmaData.fills && figmaData.fills.length > 0) {\n    const bgFill = figmaData.fills.find(f => f.type === 'SOLID' && f.visible !== false);\n    if (bgFill) {\n        const a = bgFill.opacity !== undefined ? bgFill.opacity : (bgFill.color.a !== undefined ? bgFill.color.a : 1);\n        rootBg = `rgba(${Math.round(bgFill.color.r*255)}, ${Math.round(bgFill.color.g*255)}, ${Math.round(bgFill.color.b*255)}, ${a})`;\n    }\n}\n\nlet elementsHTML = '';\nif (figmaData.children) {\n    figmaData.children.forEach(child => {\n        elementsHTML += buildNode(child, rootX, rootY, rootWidth, rootHeight, 1);\n    });\n}\n\nlet fontsHTML = '';\nfontFamilies.forEach(f => {\n    const familyName = f.replace(/\\s+/g, '+');\n    fontsHTML += `<link href=\"https://fonts.googleapis.com/css2?family=${familyName}:wght@300;400;500;600;700;800;900&display=swap\" rel=\"stylesheet\">`;\n});\n\nconst globalResetCSS = `<style>body, html { margin: 0; padding: 0; width: 100%; height: 100%; overflow-x: hidden; }</style>`;\n\nconst finalCode = `${fontsHTML}${globalResetCSS}<div style=\"position: relative; width: 100%; min-height: 100vh; height: ${(rootHeight/rootWidth)*100}vw; background-color: ${rootBg}; margin: 0; overflow-x: hidden; overflow-y: hidden; -webkit-font-smoothing: antialiased; container-type: inline-size;\">${elementsHTML}</div>`;\n\nreturn [{ json: { status: \"success\", rawCode: finalCode } }];"
      },
      "id": "5e30e040-2cbe-4ae9-9077-59e01b3f1427",
      "name": "Deterministic Compiler Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8656,
        1760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/webhook/n8n-result",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $('Input & Parse Figma URL').first().json.jobId, status: 'completed', data: $json.rawCode }) }}",
        "options": {}
      },
      "id": "fd73da24-5305-4445-895a-abd3fc13ff26",
      "name": "Send Result to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -8304,
        1616
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Input & Parse Figma URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input & Parse Figma URL": {
      "main": [
        [
          {
            "node": "Figma API Request (Layout)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Figma API Request (Layout)": {
      "main": [
        [
          {
            "node": "ID Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Extractor": {
      "main": [
        [
          {
            "node": "Figma Image Fetcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Figma Image Fetcher": {
      "main": [
        [
          {
            "node": "Format Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Router": {
      "main": [
        [
          {
            "node": "React JSX Compiler Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deterministic Compiler Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "React JSX Compiler Engine": {
      "main": [
        [
          {
            "node": "Send Result to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deterministic Compiler Engine": {
      "main": [
        [
          {
            "node": "Send Result to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "77500c19-5447-45be-8fb0-cb103ab81639",
  "meta": {
    "instanceId": "4203052bfe8ff49e9e5b7c976d11508ac2b8a49c149cd2a3146dc2d22785c6b0"
  },
  "id": "YNTy0JsJjjHHmKBn",
  "tags": []
}